{
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.vue"],
      "options": {
        "parser": "vue"
      }
    },
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.d.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
