:root[data-theme='dark'] {
  --theme-primary: rgb(163 201 254);
  --theme-surface-tint: rgb(163 201 254);
  --theme-on-primary: rgb(0 49 92);
  --theme-primary-container: rgb(31 72 118);
  --theme-on-primary-container: rgb(211 228 255);
  --theme-secondary: rgb(188 199 219);
  --theme-on-secondary: rgb(38 49 65);
  --theme-secondary-container: rgb(60 71 88);
  --theme-on-secondary-container: rgb(216 227 248);
  --theme-tertiary: rgb(217 189 227);
  --theme-on-tertiary: rgb(60 41 71);
  --theme-tertiary-container: rgb(84 63 94);
  --theme-on-tertiary-container: rgb(245 217 255);
  --theme-error: rgb(255 180 171);
  --theme-on-error: rgb(105 0 5);
  --theme-error-container: rgb(147 0 10);
  --theme-on-error-container: rgb(255 218 214);
  --theme-background: rgb(17 20 24);
  --theme-on-background: rgb(225 226 232);
  --theme-surface: rgb(17 20 24);
  --theme-on-surface: rgb(225 226 232);
  --theme-surface-variant: rgb(67 71 78);
  --theme-on-surface-variant: rgb(195 198 207);
  --theme-outline: rgb(141 145 153);
  --theme-outline-variant: rgb(67 71 78);
  --theme-shadow: rgb(0 0 0);
  --theme-scrim: rgb(0 0 0);
  --theme-inverse-surface: rgb(225 226 232);
  --theme-inverse-on-surface: rgb(46 48 53);
  --theme-inverse-primary: rgb(58 96 143);
  --theme-primary-fixed: rgb(211 228 255);
  --theme-on-primary-fixed: rgb(0 28 56);
  --theme-primary-fixed-dim: rgb(163 201 254);
  --theme-on-primary-fixed-variant: rgb(31 72 118);
  --theme-secondary-fixed: rgb(216 227 248);
  --theme-on-secondary-fixed: rgb(17 28 43);
  --theme-secondary-fixed-dim: rgb(188 199 219);
  --theme-on-secondary-fixed-variant: rgb(60 71 88);
  --theme-tertiary-fixed: rgb(245 217 255);
  --theme-on-tertiary-fixed: rgb(38 20 48);
  --theme-tertiary-fixed-dim: rgb(217 189 227);
  --theme-on-tertiary-fixed-variant: rgb(84 63 94);
  --theme-surface-dim: rgb(17 20 24);
  --theme-surface-bright: rgb(55 57 62);
  --theme-surface-container-lowest: rgb(12 14 19);
  --theme-surface-container-low: rgb(25 28 32);
  --theme-surface-container: rgb(29 32 36);
  --theme-surface-container-high: rgb(39 42 47);
  --theme-surface-container-highest: rgb(50 53 58);
}
