:root[data-theme='light'] {
  --theme-primary: rgb(58 96 143);
  --theme-surface-tint: rgb(58 96 143);
  --theme-on-primary: rgb(255 255 255);
  --theme-primary-container: rgb(211 228 255);
  --theme-on-primary-container: rgb(31 72 118);
  --theme-secondary: rgb(84 95 112);
  --theme-on-secondary: rgb(255 255 255);
  --theme-secondary-container: rgb(216 227 248);
  --theme-on-secondary-container: rgb(60 71 88);
  --theme-tertiary: rgb(108 86 119);
  --theme-on-tertiary: rgb(255 255 255);
  --theme-tertiary-container: rgb(245 217 255);
  --theme-on-tertiary-container: rgb(84 63 94);
  --theme-error: rgb(186 26 26);
  --theme-on-error: rgb(255 255 255);
  --theme-error-container: rgb(255 218 214);
  --theme-on-error-container: rgb(147 0 10);
  --theme-background: rgb(248 249 255);
  --theme-on-background: rgb(25 28 32);
  --theme-surface: rgb(248 249 255);
  --theme-on-surface: rgb(25 28 32);
  --theme-surface-variant: rgb(223 226 235);
  --theme-on-surface-variant: rgb(67 71 78);
  --theme-outline: rgb(115 119 127);
  --theme-outline-variant: rgb(195 198 207);
  --theme-shadow: rgb(0 0 0);
  --theme-scrim: rgb(0 0 0);
  --theme-inverse-surface: rgb(46 48 53);
  --theme-inverse-on-surface: rgb(239 240 247);
  --theme-inverse-primary: rgb(163 201 254);
  --theme-primary-fixed: rgb(211 228 255);
  --theme-on-primary-fixed: rgb(0 28 56);
  --theme-primary-fixed-dim: rgb(163 201 254);
  --theme-on-primary-fixed-variant: rgb(31 72 118);
  --theme-secondary-fixed: rgb(216 227 248);
  --theme-on-secondary-fixed: rgb(17 28 43);
  --theme-secondary-fixed-dim: rgb(188 199 219);
  --theme-on-secondary-fixed-variant: rgb(60 71 88);
  --theme-tertiary-fixed: rgb(245 217 255);
  --theme-on-tertiary-fixed: rgb(38 20 48);
  --theme-tertiary-fixed-dim: rgb(217 189 227);
  --theme-on-tertiary-fixed-variant: rgb(84 63 94);
  --theme-surface-dim: rgb(216 218 224);
  --theme-surface-bright: rgb(248 249 255);
  --theme-surface-container-lowest: rgb(255 255 255);
  --theme-surface-container-low: rgb(242 243 250);
  --theme-surface-container: rgb(236 237 244);
  --theme-surface-container-high: rgb(231 232 238);
  --theme-surface-container-highest: rgb(225 226 232);
}
